*{
    box-sizing: border-box;
}

h1 {
    font-family: Helvetica;
    font-style: italic bold;
    text-align: center;
}

.article-text {
    line-height: 1.3;
    font-size: 18px;
}

 .main-title {
    color:  green;
    font-family: cursive;
 }

.row {
    width: 100%;
    display: flex;
    border: 1px solid black;
    align-items: stretch;
}

.quarter-article {
    width: 25%;
    border: 1px solid black;
    padding: 5px;
}

.half-article {
    width: 50%;
    border: 1px solid black;
    padding: 5px;
}

.half-pic {
    width: 100%;
}

.three-quarter {
    width: 75%;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.site-section {
    display: flex;
    align-items: center;
    flex: 1;
}

.site-section-riddler {
    background-color: limegreen;
}

.site-section-catwoman {
    background-color: black;
    color: white;
}

.site-section-harley {
    background-color: red;
}

.site-section-goblin {
    background-color: seagreen;
}